header {
  background-color: blanchedalmond;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}

body {
  background-color: bisque;
}

* {
  font-family: sans-serif;
}

img {
  width: 40%;
  border-radius: 8px;
  display: block;
  margin: auto;
}

.flag {
    width: 250px;
}

.intro {
  font-weight: bold;
  font-size: 18px;
}

#favorite {
    color: darkblue;
}

#places {
    color: darkgreen;
}

#royal {
    color: maroon;
}

