header {
  background-color: blanchedalmond;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}

body {
  background-color: bisque;
}

* {
  font-family: sans-serif;
}

img {
  width: 40%;
  border-radius: 8px;
  display: block;
  margin: auto;
}

.intro {
  font-weight: bold;
  font-size: 18px;
}

#favorite {
    color: black;
    margin-top: 30px;
}

#places {
    color: black;
    margin-top: 30px;
}

#royal {
    color: maroon;
}

.text {
    line-height: 1.6;
}

/* Flexbox for city info section */
#city_info_wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px auto;
}

/* Style each city box */
.city_box {
  background-color: blanchedalmond;  
  text-align: center;
  width: 250px;
}

/* Center flag under the boxes */
.flag {
  width: 250px;  
  display: block;
  margin: 40px auto;
}

/* Make list look cleaner */
.city_box ol {
  padding-left: 45px;
  text-align: left;
}

.city_box li {
  margin-bottom: 6px;
}

h2 {
  color: maroon;  
}
